<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.project.biz.mapper.QuestionMapper">

    <resultMap id="QuestionResult" type="Question">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="picUrl" column="pic_url"/>
        <result property="type" column="type"/>
    </resultMap>

    <sql id="selectQuestionVo">
        select * from examine_question where is_del='0'
    </sql>

    <insert id="insertQuestion">
        insert into examine_question (
           `type`, content, pic_url, `create_at`
        ) values (
            #{type}, #{content}, #{picUrl}, sysdate()
        )
    </insert>

    <select id="getSelectQuestionList" parameterType="String" resultMap="QuestionResult">
        <include refid="selectQuestionVo"></include>
        and `type` = 'select' order by rand()  limit ${num};
    </select>

    <select id="getJudgeQuestionList" parameterType="String" resultMap="QuestionResult">
        <include refid="selectQuestionVo"></include>
        and `type` = 'judge' order by rand() limit ${num};
    </select>

    <select id="getQuestionList" resultMap="QuestionResult">
        <include refid="selectQuestionVo"></include>
        and `type` = '${type}'
        order by id desc
        limit ${start}, ${end}
    </select>

    <delete id="deleteQuestion">
        update `examine_question` set is_del='1' where id=${id}
    </delete>

    <update id="updateQuestion" parameterType="Question">
        update `examine_question`
        <set>
            `type`=#{type}, content=#{content}, pic_url=#{picUrl}, `update_at`=sysdate()
        </set>
        where id = #{id} and `is_del`='0'
    </update>


</mapper>
